@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  pointer-events: all;
}

@media (max-width: 768px){
  .svgImage {
      width: 290px;
  }
}

option:hover {
  box-shadow: 0 0 10px 100px #F5F5F5 inset;
}

option {
  margin: 5px;
}